<ion-content class="center" [fullscreen]="true">
  <ion-title class="ion-text-center ion-padding" style="font-size: xxx-large;">
    <strong><span style="color: #E72A18;">My</span> <span style="color: #343572;">Notes</span></strong>
  </ion-title>
  <ion-list class="ion-padding">
    <ion-item class="ion-margin-bottom" *ngFor="let item of (getAllNotesData$ | async) | keyvalue"
      (click)="NavigateToNotesDetails(item.key)">
      <ion-label style="color: #343572;">
        <strong>{{ item.key }}</strong>
        <p>Count: {{ item.value }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="ion-text-end ion-padding">
    <ion-button shape="round" color="success" (click)="addNoteModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
